<article class="card mb-6">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 mb-0">TITLE</p>

                <div class="level mt-0 pt-0">
                    <div class="level-left">
                        <p class="subtitle is-6">@username</p>
                    </div>
                    <div class="level-right">
                        <div class="tags">
                            <span class="tag">One</span>
                            <span class="tag">Two</span>
                            <span class="tag">Three</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris.
            </p>

            <div class="level">
                <div class="level-left">
                    <time class="has-text-weight-bold" datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
                <div class="level-right">
                    <a class="button is-dark">Voir l'article</a>
                </div>
            </div>
        </div>
    </div>
</article>