<article class="media">
    <div class="media-content">
        <div class="content has-text-justified">
            <p class="">
                <strong>{{ comment.author.firstName }} {{ comment.author.lastName }}</strong>
                <small>{{ comment.createdAt | date }}</small>
                <br>
                {{ comment.content }}
            </p>
        </div>
    </div>
</article>