<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            SINF ARTICLES
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
        </div>

        <div class="navbar-end">
            <form class="navbar-item" method="get" action="/">
                <div class="field has-addons">
                    <div class="control">
                        <input
                            class="input is-rounded"
                            type="search"
                            name="searchTerm"
                            placeholder="Rechercher un article"
                            value="{{ searchTerm }}"
                        >
                    </div>
                    <div class="control">
                        <button class="button is-dark is-rounded">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                            <span>
                                Rechercher
                            </span>
                        </button>
                    </div>
                </div>
            </form>

            {% if userName == "" or userName == null %}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-dark" href="/auth">
                        <strong>S'enregistrer</strong>
                    </a>
                    <a class="button is-light" href="/auth">
                        Se connecter
                    </a>
                </div>
            </div>
            {% else %}
            <div class="navbar-item">
                <a href="/article/write" class="button is-dark">
                    <span class="icon">
                        <i class="fas fa-pen"></i>
                    </span>
                    <span>
                        Écrire un article
                    </span>
                </a>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">{{ userName }}</a>
                <div class="navbar-dropdown is-right is-boxed">
                    <a class="navbar-item" href="/article/mine">
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>
                        <span>Mes articles</span>
                    </a>
                    <a class="navbar-item" href="/auth/logout">
                        <span class="icon">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span>Se déconnecter</span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
