{% extends 'layout.twig' %}

{% block body %}
  <div class="container mt-6">
    <div class="columns">
      <section class="column is-offset-3 is-6">
        <article>
          <h1 class="title is-2 has-text-centered has-font-weight-bold">Titre de l'article</h1>
          <h2 class="subtitle is-5 has-text-centered">Prénom Nom</h2>
          <div class="content has-text-justified">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin nunc at mauris iaculis pharetra in non tortor. Maecenas non venenatis orci, vitae sodales dui. Integer luctus purus mi, ut rhoncus odio tincidunt bibendum. Nulla sit amet sem bibendum, tempor quam non, aliquet elit. Sed sagittis dignissim nisi, in bibendum sapien ultrices id. Nunc euismod velit eget diam pharetra volutpat. Proin malesuada eget massa ut imperdiet. Cras felis ex, pulvinar eu sagittis non, commodo in ligula. Vivamus porta libero purus, vel elementum quam imperdiet sit amet. Mauris fringilla elit diam, at molestie neque cursus sed. Integer quis ligula et metus auctor ultricies sit amet quis dui. Duis eu fermentum ligula. Praesent facilisis cursus imperdiet. Fusce suscipit quam at est scelerisque, ut accumsan lectus lacinia. Aliquam tincidunt viverra diam ut sodales. </p>

            <h2>Title 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin nunc at mauris iaculis pharetra in non tortor. Maecenas non venenatis orci, vitae sodales dui. Integer luctus purus mi, ut rhoncus odio tincidunt bibendum. Nulla sit amet sem bibendum, tempor quam non, aliquet elit. Sed sagittis dignissim nisi, in bibendum sapien ultrices id. Nunc euismod velit eget diam pharetra volutpat. Proin malesuada eget massa ut imperdiet. Cras felis ex, pulvinar eu sagittis non, commodo in ligula. Vivamus porta libero purus, vel elementum quam imperdiet sit amet. Mauris fringilla elit diam, at molestie neque cursus sed. Integer quis ligula et metus auctor ultricies sit amet quis dui. Duis eu fermentum ligula. Praesent facilisis cursus imperdiet. Fusce suscipit quam at est scelerisque, ut accumsan lectus lacinia. Aliquam tincidunt viverra diam ut sodales. </p>
          </div>
        </article>
        <hr>
        <section class="mt-6">
          <div class="level">
            <div class="level-left">
              <h2 class="title is-3">
                Commentaires
              </h2>
            </div>
            <div class="level-right">
              <a class="button is-danger">
                <span class="icon">
                    <i class="fas fa-heart"></i>
                </span>
                <span>
                    Like
                </span>
              </a>
            </div>
          </div>
        </section>
        <section class="mt-5">
          {% include './components/comment.twig' %}
          {% include './components/comment.twig' %}
          {% include './components/comment.twig' %}
          {% include './components/comment.twig' %}
          {% include './components/comment.twig' %}
        </section>
        <form class="mt-5" method="post" action="">
          <h2 class="title is-3">
            Poster un commentaire
          </h2>
          <textarea class="textarea" placeholder="e.g. Hello world"></textarea>
          <button type="submit" class="button is-dark is-fullwidth mt-3">
            <span class="icon">
                <i class="fas fa-paper-plane"></i>
            </span>
            <span>
                Poster
            </span>
          </button>
        </form>
      </section>
    </div>
  </div>
{% endblock %}
