{% extends 'layout.twig' %}

{% block body %}
  <div class="container mt-6">
    <div class="columns">
      <section class="column is-offset-3 is-6">
        <h1 class="title is-3">Mes articles</h1>
        {% for article in articles %}
          {% include 'components/articlePreview.twig' with {'article': article}%}
        {% endfor %}

        <nav class="pagination" role="navigation" aria-label="pagination">
          {% if index > 0 %}
          <a href="/article/mine?index={{ index - 1 }}" class="pagination-previous">Précédent</a>
          {% else %}
          <p class="pagination-previous">Précédent</p>
          {% endif %}

          {% if articles.length > 1 %}
          <a href="/article/mine?index={{ index + 1 }}" class="pagination-next">Suivant</a>
          {% endif %}
        </nav>
      </section>
    </div>
  </div>
{% endblock %}
